<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.ui.commands">
        <command
             name="Jacksonize"
             id="Jackson-Helper.commands.GenerateJackson">
        </command>
        <command
             name="Copy as Json"
             id="Jackson-Helper.commands.CopyJson">
        </command>
    </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler
            commandId="Jackson-Helper.commands.GenerateJackson"
            class="jacksonhelper.handlers.GenerateJacksonHandler">
      </handler>
      <handler
            commandId="Jackson-Helper.commands.CopyJson"
            class="jacksonhelper.handlers.CopyJsonHandler">
      </handler>
   </extension>
   <extension point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.jdt.ui.source.menu?after=generateGroup">
        <command
              commandId="Jackson-Helper.commands.GenerateJackson"
              id="Jackson-Helper.menus.GenerateBuilder">
        </command>
      </menuContribution>
       <menuContribution locationURI="popup:org.eclipse.ui.popup.any?endof=additions" allPopups="true">
        <command
              commandId="Jackson-Helper.commands.CopyJson"
              id="Jackson-Helper.menus.CopyBuilder">
        </command>
      </menuContribution>
   </extension>
   <extension point="org.eclipse.ui.bindings">
   	<key
	  sequence="F10"
	  commandId="Jackson-Helper.commands.GenerateJackson"
	  schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
	  contextId="org.eclipse.ui.contexts.window" />
   </extension>
   
   <extension point="org.eclipse.ui.preferencePages">
 	<page id="JacksonHelperPreferencePage"
 		name="Jackson Helper"
    		class="jacksonhelper.preferences.JacksonHelperPreferencePage">
   	</page>
</extension>
</plugin>